// Review.scss
.review {
    position: absolute;
    top: 0;left: 0;right: 0;
    width: 100vw;
    display: flex;flex-direction: column;
    background: var(--cream);
    color: var(--deepgreen);
}
.review-name {
    padding: 20rem 20rem 10rem 20rem;
    display: flex; height: 30rem;
    justify-content: space-between;
    align-items: center;

    .round-btn {
        background: var(--green);
        width: 11rem;height: 11rem;

        .btn-label {
            font-size: 2.4rem;
            color: var(--cream);
        }

        .circular-text {
            width: 19rem;height: 19rem;

            text {
                font-size: 1.3rem;
                fill: var(--green);
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .review-name {
        padding: 20rem 5rem;
        justify-content: start;
        gap: 10rem;

        .round-btn {
            width: 9rem;height: 9rem;

            .btn-label {
                font-size: 2rem;
            }
            .circular-text {
                width: 15rem;height: 15rem;

                text {
                    font-size: 1.4rem;
                    fill: var(--green);
                }
            }
        }
    }
}