// side.scss

.side {
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    gap: 2rem;color: var(--deepgreen);
    position: fixed;z-index: 1000;
    bottom: 10rem;right: 6rem;

    .side-menu {
        display: flex;flex-direction: column;
        background: var(--lightgreen);
        padding: 2rem 1rem;border-radius: 5rem;
        gap: 2rem;
        transition: background 0.2s;

        &:hover {
            background: var(--green);
        }

        button {
            display: flex;justify-content: center;align-items: center;
            width: 5rem;height: 5rem;
            background: var(--cream);
            border-radius: 50%;

            span {
                font-size: 2rem;
                letter-spacing: 0.1em;
            }
            i {
                font-size: 2.4rem;
            }
            &:focus {outline: none;}
            &:active {
                background: var(--deepgreen);
                color: var(--cream);
            }
        }
    }

    .side-home {
        display: flex;justify-content: center;align-items: center;
        width: 6rem;height: 6rem;border-radius: 50%;
        background: var(--cream);
        line-height: 1;overflow: hidden;
        border: 1px solid var(--lightgreen);

        i {
            display: flex;justify-content: center;align-items: center;
            font-size: 3rem;text-align: center;
            line-height: 1;
            max-width: 100%;
            max-height: 100%;
        }
        &:hover {
            background: var(--green);
            color: var(--cream);
            border: 1px solid var(--green);
        }
        &:focus {outline: none;}
    }
}

@media screen and (max-width: 1280px) {
    .side {
        right: 3rem;
    }
}